<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MladinskaEntities" connectionString="metadata=res://*/Mladinska.csdl|res://*/Mladinska.ssdl|res://*/Mladinska.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLATKO-PC\VLATKO;initial catalog=Mladinskab;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AvtorskaEntities" connectionString="metadata=res://*/Avtorska.csdl|res://*/Avtorska.ssdl|res://*/Avtorska.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLATKO-PC\VLATKO;initial catalog=Avtorskab;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>